// Reset de márgenes y rellenos
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

// Variables globales
$background-color: #e1e1e0;
$navbar-color: #000;
$secondary-color: #fff;
$font-family: 'Ubuntu', sans-serif;
$link-color: #1e90ff;
$link-hover-color: scale-color($link-color, $lightness: -10%);

// Mixin para enlaces
@mixin link-styles($color, $hover-color) {
  color: $color;
  &:hover {
    color: $hover-color;
  }
}

// Estilos globales
body {
  font-family: $font-family;
  background-color: $background-color !important;
  color: $navbar-color;
  margin: 0;
  padding: 0;
}

header {
  img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
  }
}

// Navbar Styles
nav.custom-navbar {
  width: 100%;
  background-color: $navbar-color !important;

  .navbar-brand {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        @include link-styles($secondary-color, $link-hover-color);
      }
    }
  }
}

// Main Section
main {
  margin: 0 !important;
  padding: 0 !important;

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: $navbar-color;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: $navbar-color;
  }

  .lead {
    font-weight: 300;
  }

  .carousel {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

// Footer Styles
footer.custom-footer {
  background-color: $navbar-color !important;
  padding: 1.5rem 0;

  margin-top: 0 !important;

  p {
    color: $secondary-color !important;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .list-inline {
    .list-inline-item {
      margin-right: 1rem;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .Redes {
      @include link-styles($link-color, $link-hover-color);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .mt-3 {
    margin-top: 1rem;
    color: $secondary-color !important;
  }
}
